.home__top {
  background: url('/assets/images/misc/trees-home.jpg') no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  height: 500px;
}

h1.homepage-header {
  font-size: $homepage_header;
  font-family: $display_font;
}

.typewriter {
  @extend .wrapper;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;

}
.typewriter h1 {
  border-right: .15em solid $forest_green;
  margin: 0 auto;
  letter-spacing: 0.05em;
  font-size: 70px;
  font-family: $display_font;
  white-space: nowrap;
  overflow: hidden;
}
.typewriter h1:nth-child(1) {
  // width: 7.3em;
  width: 100%;
  -webkit-animation: type 2s steps(40, end),
                      blink-caret 0.5s step-end infinite;
  animation: type 2s steps(40, end),
            blink-caret 0.5s step-end infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  // width: 11.5em;
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end),
            blink-caret 0.5s step-end infinite;
  animation: type2 2s steps(40, end),
             blink-caret 0.5s step-end infinite;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid $forest_green;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid $forest_green;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid $forest_green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid $forest_green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $forest_green }
}

.home__media {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .start__exploring {
    width: 35%;

    h1 {
      padding-left: 50px;
      font-size: $homepage_header;
      font-family: $display_font;
      span.one {color: $accent_one;}
      span.two {color: $accent_two;}
    }

  }

  .media__options {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .media__item {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin: 25px;
    position: relative;
    color: white;
    background-color: $bright_green;

    &--one {
      background-color: $accent_one;
    }
    &--two {
      background-color: $accent_two;
    }
    // &--music {
    //   background-color: #235789;
    //   color: white;
    // }
    // &--lit {
    //   background-color: #C1292E;
    //   color: white;
    // }
    // &--art {
    //   color: white;
    //   background-color: #F1D302;
    //
    // }
    // &--film {
    //   background-color: #23CE6B;
    //   color: white;
    // }

    svg {
      font-size: 75px;
      display: block;
    }

    .overlay {
      display: none;
      text-align: center;
      background: rgba(49, 51, 46, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      font-family: $display_font;
    }

    &:hover {
      .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        color: transparent;
      }
    }
  }
}


.recent-posts {
  text-align: center;
  background-color: $forest_green;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;

  h1.homepage-header {
    color: $accent_two;

  }

  .recent-posts__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .recent-post__card {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      padding: 25px;

      .recent-post__image {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: #eee no-repeat center;
        background-size: cover;
      }

      .recent-post__title {
        padding-top: 20px;

        &:hover {
          color: $accent_one;
        }
      }

      .recent-post__date {
        display: none;
      }
    }

      a {
        color: $accent_two;

        &:hover {
          text-decoration: none;

          .recent-post__image {
            background-color: $accent_one !important;
            background-image: none !important;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .recent-post__date {
            display: inline;
            color: $accent_two;
          }
        }
      }
  }
}
