$barely_green: #EBF3EB;
$soft_green: #B7D5B7;
$medium_green: #7CB37B;
$bright_green: #328930;
$forest_green: #0A3200;

$accent_one: #624e2c;
$accent_two: #D2B48C;

$display_font: "Bungee", cursive;
$display_font: 'Source Code Pro', monospace;
$homepage_header: 55px;


$orange: #E2811F;
