---
layout: no_wrap
---

<div class="post-list post-list--category">
  <h1 class="category-header">* {{page.title}} POSTS *</h1>
  <div class="post-list__container">
    {% for post in site.posts %}
        <a class="" href="{{ post.url | relative_url }}">
          <div class="post__card">
            <div class="post__image" style="background-image: url('{{post.home_image}}')">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <div class="post__date">
                {{ post.date | date: date_format }}
              </div>
            </div>

            <div class="post__title">
              {{ post.title | escape }}
            </div>


          </div>
          </a>
      {%- endfor -%}
        </div>
    </div>
