---
layout: no_wrap
---

<div class="home">
  <div class="home__top">
    <div class="typewriter">
      <h1>EXPLORATIONS IN</h1>
      <h1>FINNISH CULTURE.</h1>
    </div>
  </div>

  <div class="home__media">
    <div class="start__exploring">
      <h1>START EXPLORING</h1>
    </div>
    <div class="media__options">
        <div class="media__item media__item--music">
          <i class="fas fa-headphones"></i>
          <span class="overlay">MUSIC</span>
        </div>
        <div class="media__item media__item--lit">
          <i class="fas fa-book"></i>
          <span class="overlay">LITERATURE</span>
        </div>
        <div class="media__item media__item--art">
          <i class="fas fa-paint-brush"></i>
          <span class="overlay">ART</span>
        </div>
        <div class="media__item media__item--film">
          <i class="fas fa-video"></i>
          <span class="overlay">FILM</span>
        </div>
      </div>
  </div>



  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
